@font-face { font-family: Poppins; src: url('POPPINS.TTF'); } 
body {
    background-image: linear-gradient(to right, black, rgb(100, 100, 100), rgb(150, 150, 150), rgb(100, 100, 100), black); 
    background-position: center; 
    background-blend-mode: multiply;
    padding: none;
    margin: 0px;
}
h1, h2, h3, h4, p, a, label, h5, button, li, form {
    font-family: "Poppins";
}
footer {
    padding: none;
    margin: 0px;
    margin-bottom: -15px;
}
div {
    padding: none;
    margin: 0px;
}